#devs .button {
  padding: 1.5em 2em;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  color: var(--text-color-dim);
}

#devs .button>img {
  width: 8em;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#devs .button[dev="Probot"] {
  --button-background-color-hover: rgb(91, 17, 126);
}

#devs .button[dev="Zaop"] {
  --button-background-color-hover: rgb(32, 58, 46);
}
