#devs>div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

#devs .button {
  padding: 1.5em 2em;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

#devs .button .avatar {
  width: 8em;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#devs .button[data-person="Probot"] {
  --button-background-color-hover: rgb(91, 17, 126);
}

#devs .button[data-person="Zaop"] {
  --button-background-color-hover: rgb(32, 58, 46);
}
