<link rel="stylesheet" href="/partials/gameplay.css">
<h1>Gameplay</h1>
<div>
  <video autoplay muted playsinline controls>
    <source src="vids/Calceon_gameplay_unedited.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<div style="display: none;">

  <br>"Mathematics that pull you into the game."
  <br>"Train your logic and have fun doing it."
  <br>"Combine adventure with smart thinking."
  <br>"A game where your weapon is your mind."

  <h4>Discover a world where every problem is the key to the next adventure.</h4>
  <p>Our math game combines fun gameplay mechanics with solving logical and mathematical problems. Progress through
    levels, collect books with problems, face enemies, and move forward only when your mind prevails.</p>
  <p>The game is designed for both middle and high school students, but it will entertain anyone who loves smart
    challenges. With a combination of story and practice modes, you can choose whether to train or experience an
    adventure.</p>
</div>
