<link rel="stylesheet" href="/partials/gameplay.css">
<h1>Gameplay</h1>

<div>
  <div class="row">
    <img src="/assets/svg/pidizvyk.svg" />
    <div class="text">
      <img src="/assets/svg/github.svg"/>
      <h2>Progress through levels</h2>
      <p>Go on an adventure in the mysterious dungeons of Calceon~</p>
      <p>Travel through 20 levels and 4 different biomes on your journey for knowledge!</p>
    </div>
  </div>
  <div class="row reverse">
    <video autoplay muted playsinline controls loop>
      <source src="/assets/media/Gameplay_uneditted.mp4" type="video/mp4" />
    </video>
    <div class="text">
      <img src="/assets/svg/github.svg"/>
      <h2>Face enemies</h2>
      <p>Those who obscure your path must be swiftly defeated!</p>
    </div>
  </div>
  <div class="row">
    <video autoplay muted playsinline controls loop>
      <source src="/assets/media/Gameplay_uneditted.mp4" type="video/mp4" />
    </video>
    <div class="text">
      <img src="/assets/svg/github.svg"/>
      <h2>Solve problems</h2>
      <p>Train your skills on a variety of mathematical and logical exercises!</p>
      <p>The game offers an option for training, where you can practice even more.</p>
    </div>
  </div>
  <div class="row reverse">
    <video autoplay muted playsinline controls loop>
      <source src="/assets/media/Gameplay_uneditted.mp4" type="video/mp4" />
    </video>
    <div class="text">
      <img src="/assets/svg/github.svg"/>
      <h2>Section 4</h2>
      <p>This is some text next to the second video.</p>
    </div>
  </div>
</div>

<div>

  <br>"Mathematics that pull you into the game."
  <br>"Train your logic and have fun doing it."
  <br>"Combine adventure with smart thinking."
  <br>"A game where your weapon is your mind."

  <h4>Discover a world where every problem is the key to the next adventure.</h4>
  <p>Our math game combines fun gameplay mechanics with solving logical and mathematical problems. Progress through
    levels, collect books with problems, face enemies, and move forward only when your mind prevails.</p>
  <p>The game is designed for both middle and high school students, but it will entertain anyone who loves smart
    challenges. With a combination of story and practice modes, you can choose whether to train or experience an
    adventure.</p>
</div>
