#gameplay > div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 50vw;
}

#gameplay .row {
  display: flex;
  align-items: center;
  gap: 20px;
}

#gameplay .row.reverse {
  flex-direction: row-reverse;
}

/* Video styling */
#gameplay .row>video, #gameplay .row>img {
  flex: 0 0 auto;
  width: 50%;
  max-width: 800px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 20px 0px color-mix(in srgb, white 30%, transparent);
}

#gameplay .row .text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  #gameplay .row {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  #gameplay .row>video, #gameplay .row>img {
    width: 75vw;
    height: auto;
    max-width: 100%;
  }

  #gameplay .row .text {
    width: 90%;
  }
}

#gameplay .text>img {
  width: 60px;
  margin-bottom: 10px;
}
