<link rel="stylesheet" href="/partials/gameplay.css">
<h1>Gameplay</h1>

<div>
  <div class="row">
    <video autoplay muted playsinline loop>
      <source src="/assets/media/CalceonExplore.mp4" type="video/mp4" />
    </video>
    <div class="text">
      <img src="/assets/svg/explore.svg"/>
      <h2>Progress through levels</h2>
      <p>Go on an adventure in the mysterious dungeons of Calceon~</p>
      <p>Travel through 20 levels and 4 different biomes on your journey for knowledge!</p>
    </div>
  </div>
  <div class="row reverse">
    <video autoplay muted playsinline loop>
      <source src="/assets/media/CalceonFight.mp4" type="video/mp4" />
    </video>
    <div class="text">
      <img src="/assets/svg/fight.svg"/>
      <h2>Face enemies</h2>
      <p>Those who obscure your path must be swiftly defeated!</p>
    </div>
  </div>
  <div class="row">
    <video autoplay muted playsinline loop>
      <source src="/assets/media/CalceonSolve.mp4" type="video/mp4" />
    </video>
    <div class="text">
      <img src="/assets/svg/solve.svg"/>
      <h2>Solve problems</h2>
      <p>Train your skills on a variety of mathematical and logical exercises!</p>
      <p>The game offers an option for training, where you can practice even more.</p>
    </div>
  </div>
</div>

<div>
  <p>The game is designed for both middle and high school students, but it will entertain anyone who loves smart
    challenges. With both a story and a practice mode, you can choose whether to train your skills or experience an
    adventure.</p>
  <yelling>Stop reading and start playing!</yelling>
</div>
