<link rel="stylesheet" href="/partials/landing.css">
<div class="logo">
  <img src="/assets/imgs/game_assets/title.png">
  <h2>A Math Game</h2>
</div>
<div class="background">
  <img src="/assets/svg/portal.svg">
</div>
<div class="orbit">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:347px; --angle:219deg; --opacity:0.32; --speed:3.47">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:128px; --angle:17deg;  --opacity:0.47; --speed:1.28">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:254px; --angle:301deg; --opacity:0.27; --speed:2.54">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:391px; --angle:88deg;  --opacity:0.15; --speed:3.91">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:176px; --angle:344deg; --opacity:0.44; --speed:1.76">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:212px; --angle:146deg; --opacity:0.39; --speed:2.12">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:383px; --angle:55deg;  --opacity:0.19; --speed:3.83">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:145px; --angle:272deg; --opacity:0.41; --speed:1.45">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:308px; --angle:193deg; --opacity:0.21; --speed:3.08">
  <img src="/assets/svg/pidizvyk.svg" style="--radius:267px; --angle:11deg;  --opacity:0.36; --speed:2.67">
</div>

<a class="arrow" href="#gameplay">
  <img src="/assets/svg/arrow.svg" alt="Scroll down">
</a>
