<link rel="stylesheet" href="/partials/landing.css">
<div class="logo">
  <img src="/assets/imgs/game_assets/title.png">
  <h2>A Math Game</h2>
</div>
<div class="background">
  <img src="/assets/svg/game_assets/portal.svg">
</div>
<div class="orbit">
  <img src="/assets/svg/game_assets/flower.svg" class="orbiter" style="--radius:80px; --angle:0deg; --opacity:0.4; --speed:1.6">
  <img src="/assets/imgs/game_assets/pidizvik.gif" class="orbiter" style="--radius:130px; --angle:40deg; --opacity:0.25; --speed:2">
  <img src="/assets/svg/game_assets/ice.svg" class="orbiter" style="--radius:180px; --angle:80deg; --opacity:0.1; ; --speed:3">
  <img src="/assets/svg/game_assets/snowman.svg" class="orbiter" style="--radius:230px; --angle:120deg; --opacity:0.4; --speed:1.8">
  <img src="/assets/svg/game_assets/book.svg" class="orbiter" style="--radius:280px; --angle:160deg; --opacity:0.25; --speed:2.5">
  <img src="/assets/svg/game_assets/crate.svg" class="orbiter" style="--radius:330px; --angle:200deg; --opacity:0.1; ; --speed:3.37">
  <img src="/assets/svg/game_assets/flame.svg" class="orbiter" style="--radius:380px; --angle:240deg; --opacity:0.4; --speed:1.3">
  <img src="/assets/svg/game_assets/heart.svg" class="orbiter" style="--radius:430px; --angle:280deg; --opacity:0.25; --speed:2.1">
  <img src="/assets/svg/game_assets/ball.svg" class="orbiter" style="--radius:480px; --angle:320deg; --opacity:0.1; ; --speed:3.47">
</div>

<a class="arrow" href="#gameplay">
  <img src="/assets/svg/arrow.svg" alt="Scroll down">
</a>
