#landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
}

#landing>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, -25%);
}

#landing .logo {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 10px color-mix(in srgb, white 50%, transparent));
}

#landing .logo img {
  max-width: min(75vw, 100%);
  height: auto;
}

#landing video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 90vw;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: cover;
  opacity: 50%;
  border-radius: 50%;
  mask-image: radial-gradient(black 0%, transparent 65%);
}


#landing .arrow {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  cursor: pointer;
  animation: bounce 4s infinite;
  filter: drop-shadow(0 0 10px color-mix(in srgb, white 50%, transparent));
}

#landing .arrow>img {
  width: 50px;
}

@keyframes bounce {

  0%,
  50% {
    transform: translate(-50%, 0);
  }

  80% {
    transform: translate(-50%, 50%);
  }

  92% {
    transform: translate(-50%, -10%);
  }
}
