:root {
  --nav-background-color: #00000066;
  --nav-border-radius: 50px;
}

nav {
  position: fixed;
  /*top: 15px;*/
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 99;
  user-select: none;
}

nav>div {
  background-color: var(--nav-background-color);
  backdrop-filter: blur(var(--blur-effect));
  display: flex;
  border-width: 2px;
  border-radius: var(--nav-border-radius);
  border-style: solid;
  border-color: color-mix(in srgb, white 20%, transparent);
  justify-content: center;
  padding: 0.5em 0.5em;
  box-shadow: 0 0 20px 0px color-mix(in srgb, white 30%, transparent);
}

nav .button {
  font-size: 12px;
  font-weight: 400;
  padding: 2px 10px;
  border: none;
  border-radius: var(--nav-border-radius);
  margin: 0px 0.5em;
  background-color: transparent;
}

nav .button:last-child {
  margin-right: 0px;
}

nav .button:first-child {
  margin-left: 0px;
}

@media (pointer: fine) {
  nav .button:hover {
    background-color: color-mix(in srgb, white 20%, transparent);
    /*text-shadow: 0px 0px 2px white;*/
    /*color: #ffffffbb;*/
  }
}

@media (pointer: coarse) {
  nav .button:active {
    background-color: color-mix(in srgb, white 20%, transparent);
  }
}

nav .button img {
  pointer-events: none;
  font-size: inherit;
  max-height: 1.5em;
}
