/* MARK: variables
*/
:root {
  --background-color: #000000;
  --text-color: white;

  scroll-behavior: smooth;
}

/* MARK: general
*/
* {
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color-scheme: dark;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  width: max-content;
}

/*MARK: button
*/

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  font-size: 15px;
  border-color: #505050;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms;
}

/*MARK: navigation
*/

.nav {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 99;
}

.nav>div {
  background-color: #00000099;
  backdrop-filter: blur(25px);
  display: flex;
  border-width: 2px;
  border-radius: 50px;
  border-style: solid;
  border-color: color-mix(in srgb, white 20%, transparent);
  justify-content: center;
  padding: 8px 8px;
  box-shadow: 0 0 20px 0px color-mix(in srgb, white 30%, transparent);
}

.nav .button {
  padding: 2px 10px;
  border: none;
  border-radius: 50px;
  margin: 0px 8px;
  background-color: transparent;
}

.nav .button:hover {
  transform: none;
  background-color: #bbbbbb33;
  /*text-shadow: 0px 0px 2px white*/
  /*color: #ffffffbb;*/
}

.nav .button:last-child{
  margin-right: 0px;
}

.nav .button:first-child{
  margin-left: 0px;
}
