/* MARK: global variables
*/
:root {
  --background-color: black;
  --text-color: white;
  --text-size: 15px;
  --font-weight: 500; /*100-800*/
  --blur-effect: 10px;

  scroll-behavior: smooth;
}

/* MARK: general
*/
* {
  color: var(--text-color);
  color-scheme: dark;
  font-size: var(--text-size);
  /*font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;*/
  font-family: "Playpen Sans Thai", cursive;
  font-weight: var(--font-weight);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  background-color: var(--background-color);
  margin: 0px;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 10vh;
  font-size: 25px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin: 0px;
}

p {
  color: magenta;
}

img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

video {
  user-select: none;
  -webkit-user-drag: none;
  width: auto;
  height: auto;
}

footer {
  height: 30vh;
}

/*MARK: button
*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  font-size: 12px;
  border-color: color-mix(in srgb, white 20%, transparent);
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms;
}

/* PC */
@media (pointer: fine) {
  .button:hover {
    background-color: #404040;
    box-shadow: 0 0 10px 0px color-mix(in srgb, white 30%, transparent);
    /*text-shadow: 0px 0px 1px white;*/
  }
}

/* Mobile */
@media (pointer: coarse) {
  .button:active {
    background-color: #404040;
    box-shadow: 0 0 10px 0px color-mix(in srgb, white 30%, transparent);
  }
}


.button .icon {
  padding: 0px 15px 0px 0px;
  width: 3em;
  vertical-align: middle;
}

/*MARK: animations
*/

@keyframes bounce {

  0%,
  50% {
    transform: translate(-50%, 0);
  }

  80% {
    transform: translate(-50%, 50%);
  }

  92% {
    transform: translate(-50%, -10%);
  }
}

@keyframes flip {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
