/* MARK: global variables
*/
:root {
  --background-color: black;
  --text-color: white;
  --text-size: 15px;
  --font-weight: 500;
  --blur-effect: 10px;

  --nav-background-color: #00000099;
  --nav-border-radius: 50px;

  scroll-behavior: smooth;
}

/* MARK: general
*/
* {
  color: var(--text-color);
  color-scheme: dark;
  font-size: var(--text-size);
  /*font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;*/
  font-family: "Playpen Sans Thai", cursive;
  font-weight: var(--font-weight);
  /*100-800*/
  /*user-select: none;*/
  /*-webkit-user-drag: none;*/
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

img {
  pointer-events: none;
  user-select: none;
}

/*MARK: navigation
*/

.nav {
  position: fixed;
  /*top: 15px;*/
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 99;
  user-select: none;
}

.nav>div {
  background-color: var(--nav-background-color);
  backdrop-filter: blur(var(--blur-effect));
  display: flex;
  border-width: 2px;
  border-radius: var(--nav-border-radius);
  border-style: solid;
  border-color: color-mix(in srgb, white 20%, transparent);
  justify-content: center;
  padding: 0.5em 0.5em;
  box-shadow: 0 0 20px 0px color-mix(in srgb, white 30%, transparent);
}

.nav .button {
  font-weight: 400;
  padding: 2px 10px;
  border: none;
  border-radius: var(--nav-border-radius);
  margin: 0px 0.5em;
  background-color: transparent;

}

.nav .button:hover {
  transform: none;
  background-color: color-mix(in srgb, white 20%, transparent);
  box-shadow: 0 0 10px 0px color-mix(in srgb, white 30%, transparent);
  /*text-shadow: 0px 0px 2px white;*/
  /*color: #ffffffbb;*/
}

.nav .button img {
  pointer-events: none;
  font-size: inherit;
  max-height: 1.5em;
}

.nav .button:last-child {
  margin-right: 0px;
}

.nav .button:first-child {
  margin-left: 0px;
}

/*MARK: button
*/

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  font-size: 12px;
  border-color: #505050;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/*MARK: download button
*/
.download_button {
  padding: 15px 30px;
  font-size: 15px;
}

.download_button:hover {
  background-color: color-mix(in srgb, magenta 100%, transparent);
  box-shadow: 0 0 10px 0px color-mix(in srgb, magenta 100%, transparent);
}

/*MARK: pagetop
*/

.pagetop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  filter: drop-shadow(0 0 10px color-mix(in srgb, white 50%, transparent));
  user-select: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: min(50vw, 100%);
  height: auto;
}

h2 {
  font-size: 20px;
  margin: 0px;
}

.arrow {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  cursor: pointer;
  animation: bounce 4s infinite;
}

.arrow>img {
  width: 50px;
}

/* Bounce animation */
@keyframes bounce {

  0%,
  50% {
    transform: translate(-50%, 0);
  }

  80% {
    transform: translate(-50%, 50%);
  }

  92% {
    transform: translate(-50%, -10%);
  }
}

h1 {
  padding-top: 10vh;
  font-size: 25px;
}

p {
  color: magenta;
}
